{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-4">
		<form method="GET">
		{% for obj in title %}
		{{ obj.document.url }}

		{% endfor %}
		</form>

		</div>
		<div class="col-sm-4">
	  <form method="post" enctype="multipart/form-data">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <button type="submit">Upload</button>
	  </form>

	  <p><a href="{% url 'index' %}">Return to home</a></p>
	  </div>
	  </div>
  </div>
{% endblock %}